{{> header.handlebars}}

<body>
<div class="container" style="margin-top: 5rem;">
    <div style="display: flex;">
        <a href="/" type="button" class="btn btn-primary mt-2 mb-3 mr-3"> < Back </a>
    </div>
    <div>
        <h3 style="text-align: center;">Happy {{day}}</h3>
    </div>

    <div class="row">
        {{#each grades}}
            <a href="/grade/{{gradeName}}" class="col-sm-4 mt-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="text-align: center;">
                        {{gradeName}}
                    </div>
                </div>
            </a>
        {{/each}}
    </div>

    <hr>
    {{footer.handlebars}}
    <hr>

    <div class="row" >

        <div class="col-12" >
            <h2>Links to UI libraries</h2>
            <ul>
                <li><a href="https://www.chartjs.org/"> chart.js </a></li>
                <li><a href="https://getbootstrap.com/"> Bootstrap CSS </a></li>
                <li><a href="https://getbootstrap.com/docs/4.5/examples/"> Bootstrap Templates </a></li>
            </ul>
        </div>
    </div>

</div>



</body>
</html>